@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-noto-sans: "Noto Sans";
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-6xl: 25px;
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-xl: 20px;

  /* Colors */
  --w-background: #fff;
  --color-darkgray-100: #979797;
  --color-black: #000;
  --color-lightcyan: #d0f7fa;
  --color-silver: #c4c4c4;
  --color-dimgray: #666;
  --f4: #f4f4f4;
  --color-lightgray: #ccc;
  --keatext-purple: #7a5cfa;

  /* Gaps */
  --gap-base: 16px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-13xl: 32px;

  /* Effects */
  --l-drop-shadow: 3px 3px 9px rgba(190, 190, 190, 0.13);
}
